<h2>Tensorflow.js</h2>

<h3>Tensorflow.js とは？</h3>
<p>Javascript(ブラウザ、Node.js)で機械学習を開発・活用できるライブラリ</p>

<h3>きっかけ</h3>
<p>Google Developers Group (GDG) Tokyo のセッション：<a href="https://gdg-tokyo.connpass.com/event/220582/" target="_blank">【Live Coding Session】Angular × TensorFlow.js</a></p>

<h3>何ができるの？</h3>
<ul>
  <li>開発(Training)：主にDeepLearning。モデルが作れる。大変。</li>
  <li>活用(Inference)：モデルを読みこんで実行する。</li>
</ul>

<h4>モデルって？</h4>
<p>機械学習におけるモデルは、</p>
<ol>
  <li>入力をうけとって</li>
  <li>何かしら評価、判別をして</li>
  <li>出力を出してくれる</li>
</ol>
<p>もの。</p>

<p>自前で作るのは大変。。。pre-madeモデルがある！</p>
<ul>
  <li><a href="https://www.tensorflow.org/js/models?hl=ja" target="_blank" rel="noopener noreferrer">models</a></li>
  <li><a href="https://www.tensorflow.org/hub?hl=ja" target="_blank" rel="noopener noreferrer">tensorflow hub</a></li>
</ul>
